<h2>Asset Helpers</h2>

<!-- <img src="http://www.fillmurray.com/301/301" alt="Bill Murray"> -->

<%= image_tag "http://www.fillmurray.com/301/301", :alt => "Bill Murray" %>

<%= image_tag "bill.jpg", :alt => "Bill and Wes", :title => "Bill", :class => "main_image" %>

<p>There are also: video_tag, audio_tag</p>
