<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>CSS Layout</title>
  </head>

  <body>
    <!-- HTML5: Semantic Tags instead of divs. -->

    <div class="container">
      <header>
        <nav>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">FAQ</a>
          <a href="#">Contact</a>
        </nav>

        <h1>TITLE</h1>
      </header>

      <main>
        <h2>Content Goes Here</h2>
        <img src="https://www.fillmurray.com/400/604" alt="Bill Murray in fine form">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, dolores quod eius ullam eum illum voluptas corporis ad vero dolore, consequatur ipsa eaque aliquam quas autem necessitatibus temporibus nam laborum.</p>
        <p>Molestiae consequatur maiores magni aliquam doloremque facilis. Consectetur aliquid maxime sapiente eaque. Corporis fuga eius amet est, blanditiis iusto? Nostrum, atque, alias. Modi asperiores, quos, rerum deserunt nobis esse unde.</p>
        <p>Doloribus dolor voluptates commodi vel at voluptatibus enim repellendus. Sunt distinctio soluta eligendi dolorum necessitatibus esse excepturi, sed quisquam doloribus facere voluptas, mollitia odio eum deleniti debitis. Explicabo, eaque, voluptates.</p>
      </main>

      <aside>
        <h3>Fun Facts</h3>
        <ul>
          <li>Groucho</li>
          <li>Harpo</li>
          <li>Chico</li>
          <li>Zeppo</li>
        </ul>
      </aside>
    </div>
  </body>
</html>
