<h1>Welcome to the Crappy Calculator</h1>

<form action="/result">
  <label>
    First Number:
    <input type="number" placeholder="23" name="x">
  </label>

  <label>
    Operator:
    <input placeholder="+, -, *, /" name="operator">
  </label>

  <label>
    Second Number:
    <input type="number" placeholder="3" name="y">
  </label>

  <button>Calculate</button>
</form>
