<h2><%= @ticker %> does not exist...</h2>
<div class="another_stock">
<h3>Another stock?</h3>
<form action="/result">
  <label>
    Stock Ticker:
    <input type="text" name="ticker" placeholder="GOOG">
  </label>
  <button>See Stock Price</button>
</form>
</div>
