<h2>New Butterfly</h2>

<form action="/butterflies" method="post">
  <label>
    Name:
    <input name="name" placeholder="Red Admiral" required>
  </label>

  <label>
    Family
    <input name="family" placeholder="Nymphalidae">
  </label>
  <label>
    Image
    <input name="image" placeholder="http://..." type="url">
  </label>

  <button>Create butterfly</button>

</form>
