nav {
  position: fixed;
  right: 0;
  top: 0vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: black;
  font-size: 6em;
}
